# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Node.js modules
node_modules/

# Ignore build output
dist/